<h4 mat-dialog-title class="my-3">{{data?.action == "create-contact" ? 'Add' : 'Update'}} Contact</h4>
<div mat-dialog-content>
    <form [formGroup]="formInstance">
        <div>
            <mat-form-field class="fullWidth w-100" appearance="fill">
                <mat-label>Title </mat-label>
                <input matInput type="text" name="title" formControlName="title">
                <mat-error *ngIf="formInstance.controls['title']?.errors?.required">This field is required</mat-error>
            </mat-form-field>
        </div>
        <div class="mt-2">
            <mat-form-field class="fullWidth w-100" appearance="fill">
                <mat-label>Link </mat-label>
                <input matInput type="text" name="link" formControlName="link">
                <mat-error *ngIf="formInstance.controls['link']?.errors?.required">This field is required</mat-error>
            </mat-form-field>
        </div>
        <div class="mt-2">
            <mat-form-field class="fullWidth w-100" appearance="fill">
                <mat-label>Status </mat-label>
                <mat-select name="is_active" formControlName="is_active">
                    <mat-option value="active">Active</mat-option>
                    <mat-option value="inactive">Inactive</mat-option>
                </mat-select>
                <mat-error *ngIf="formInstance.controls['is_active']?.errors?.required">This field is required</mat-error>
            </mat-form-field>
        </div>
        <div class="mt-2">
            <mat-form-field class="example-full-width w-100" appearance="fill">
                <mat-label>Description</mat-label>
                <textarea formControlName="description" rows="3" matInput placeholder="Enter Description here..."></textarea>
                <mat-error *ngIf="formInstance.controls['description']?.errors?.required">This field is required</mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div class="mt-3" mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)="save()">{{data?.action == "create-contact" ? 'Submit' :  'Update'}}</button>
</div>