::placeholder {
    font-size: var(--font-S-13)
  }
select {
    font-size: var(--font-S-13);
    color: #777777;
    padding: 0.375rem 0.75rem;
}
.userInfo {
  max-height: 330px;
  overflow-y: scroll;
}