<!--start switcher-->
<div class="switcher-wrapper">
    <div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
    </div>
    <div class="switcher-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0 text-capitalize ps-1 pb-3 pt-3">Theme Customizer</h5>
            <button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
        </div>
        <hr/>
        <h6 class="mb-0 ps-1 pb-3 pt-3">Theme Styles</h6>
        <hr/>
        <div class="d-flex align-items-center justify-content-between ps-1 pb-3 pt-3">
            <div class="form-check" *ngFor="let item of themeData; index as i;">
                <input class="form-check-input" type="radio" name="flexRadioDefault" (change)="onChange(item, 'theme')" [id]="item?.value">
                <label class="form-check-label" for="{{item?.value}}">{{item?.name}}</label>
            </div>
        </div>
        <hr/>
        <h6 class="mb-0 ps-1 pb-3 pt-3">Header Colors</h6>
        <hr/>
        <div class="header-colors-indigators">
            <div class="row row-cols-auto g-3 ps-1 pb-3 pt-3">
                <div class="col" *ngFor="let item of headerData;index as i;">
                    <div class="indigator" [ngClass]="[item?.value]" [id]="item?.value" (click)="onChange(item, 'header')"></div>
                </div>
            </div>
        </div>

        <hr/>
        <h6 class="mb-0 ps-1 pb-3 pt-3">Sidebar Backgrounds</h6>
        <hr/>
        <div class="header-colors-indigators">
            <div class="row row-cols-auto g-3 ps-1 pb-3 pt-3">
                <div class="col" *ngFor="let item of sidbarData; index as i;">
                    <div [ngClass]="[item?.value]" class="indigator" [id]="item?.value" (click)="onChange(item, 'sidebar')"></div>
                </div>
            </div>
        </div>


    </div>
</div>
<!--end switcher-->