<div class="bg-login">
    <!--wrapper-->
    <div class="wrapper">
        <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4">
                    <div class="col mx-auto">
                        <div class="mb-4 text-center">
                            <!-- <h3>Admin Login</h3> -->
                            <img src="../../../assets/images/admin banner.png" style="height:200px;">
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="border p-4 rounded">
                                    <div class="form-body">
                                        <form class="row g-3 needs-validation" [formGroup]="loginForm" novalidate>
                                            <div class="col-12">
                                                <label for="validationEmail" class="form-label">Email Address</label>
                                                <input type="email" class="form-control" id="validationEmail" formControlName="email" placeholder="Email Address" required>
                                                <div class="invalid-feedback">Please enter email address.</div>
                                            </div>

                                            <div class="col-12">
                                                <label for="validationPassword" class="form-label">Password</label>
                                                <div class="input-group has-validation">
                                                    <input type="password" class="form-control" id="userPassword" aria-describedby="inputGroupPrepend" formControlName="password" placeholder="Password" required>
                                                    <span class="input-group-text" id="inputGroupPrepend" (click)="togglePassword()"><a><i [ngClass]="this.showPassword?.type == 'text' ? 'fa fa-eye' : 'fa fa-eye-slash'" aria-hidden="true"></i></a></span>
                                                    <div class="invalid-feedback">Please enter password.</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                                    <label class="form-check-label" for="flexSwitchCheckChecked">Remember Me</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 text-end"> <a href="JavaScript:;" (click)="onForgotpassword()">Forgot Password ?</a>
                                            </div>
                                            <div class="col-12 text-center">
                                                <button type="submit" class="btn btn-primary" (click)="login()"><i class="bx bxs-lock-open"></i>Sign in</button>
                                            </div>
                                            <div class="spinner-border text-primary justify-content-center" role="status" *ngIf="loading"> <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row-->
            </div>
        </div>
    </div>
    <!--end wrapper-->
</div>