<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">User Profile</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
        </nav>
    </div>
</div>
<!--end breadcrumb-->
<div class="main-body user-profile">
    <div class="row">
        <div class="col-lg-12 align-middle">
            <form [formGroup]="profileForm">
                <div class="card d-flex align-items-center flex-row">
                    <img src="{{(profileData?.Users?.profile_pic)? imgPath + profileData?.Users?.profile_pic :  'assets/images/avatars/user-avatar.webp'}}" class="avatars rounded-circle  card-img-top mx-auto ms-3 " alt="...">
                    <input name="img" class="upload-profile-pic" type="file" *ngIf="type  ? 'disabled' : ''"  formControlName="profile_pic" id="formGroupLink" (change)="onUploadImage($event)" accept="image/*" />
                    <i class="lni lni-pencil rounded-circle bg-primary p-1 text-white "></i>
                    <div class="page-loading" *ngIf="loading">
                        <div class="spinner-border" role="status"> <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    
                    <div class="card-body ms-3">
                        <h5 class="card-title">{{profileData?.Users?.first_name}} {{profileData?.Users?.middle_name}} {{profileData?.Users?.last_name}}</h5>
                        <div class="lh-3"><span class="text-primary">&nbsp;{{profileData?.Users?.email}}</span>&nbsp;,<span class="text-primary">&nbsp;<a href="tel:{{profileData?.Users?.mobile_number}}">{{profileData?.Users?.mobile_number}}</a></span><br>
                            <span class="text-primary">&nbsp; {{profileData?.Users?.city}}</span>,<span class="text-primary">&nbsp;{{profileData?.Users?.country}}</span></div>

                    </div>
                    <div class="card d-flex align-items-right flex-row me-3">
                        <div class="col">
                            <button type="button" class="btn btn-primary px-3" (click)="edit()" *ngIf="!isFormEditable">Edit Profile <i class='lni lni-pencil-alt'></i></button>
                            <button type="button" class="btn btn-primary px-3" (click)="save()" *ngIf="isFormEditable">Save</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-12 user-profile" [ngClass]="isFormEditable ? 'edit' : 'view'">
            <hr/>
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-pills mb-3" role="tablist">
                        <li class="nav-item border border-primary rounded" role="presentation">
                            <a class="nav-link active " data-bs-toggle="pill" href="#basic-information" role="tab" aria-selected="true">
                                <div class="d-flex align-items-center">
                                    <div class="tab-title">Basic Information</div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item border border-primary rounded" role="presentation">
                            <a class="nav-link" data-bs-toggle="pill" href="#emp-business-info" role="tab" aria-selected="false">
                                <div class="d-flex align-items-center">
                                    <div class="tab-title">Emp./ Business Info.</div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item border border-primary rounded" role="presentation">
                            <a class="nav-link" data-bs-toggle="pill" href="#mentorship-skill" role="tab" aria-selected="false">
                                <div class="d-flex align-items-center">
                                    <div class="tab-title">Mentorship and Skill
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item border border-primary rounded" role="presentation">
                            <a class="nav-link" data-bs-toggle="pill" href="#work-experience" role="tab" aria-selected="false">
                                <div class="d-flex align-items-center">
                                    <div class="tab-title">Work Experience
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item border border-primary rounded" role="presentation">
                            <a class="nav-link" data-bs-toggle="pill" href="#education" role="tab" aria-selected="false">
                                <div class="d-flex align-items-center">
                                    <div class="tab-title">Education
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item border border-primary rounded" role="presentation">
                            <a class="nav-link" data-bs-toggle="pill" href="#other" role="tab" aria-selected="false">
                                <div class="d-flex align-items-center">
                                    <div class="tab-title">Others
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="basic-information" role="tabpanel">
                            <app-basic-info [profileData]="profileData" [otherProfile]="otherProfile" [commonData]="commonData"></app-basic-info>
                        </div>
                        <div class="tab-pane fade" id="emp-business-info" role="tabpanel">
                            <app-emp-business-info [profileData]="profileData" [otherProfile]="otherProfile"></app-emp-business-info>
                        </div>
                        <div class="tab-pane fade" id="mentorship-skill" role="tabpanel">
                            <app-mentorship [profileData]="profileData" [otherProfile]="otherProfile" [commonData]="commonData"></app-mentorship>
                        </div>
                        <div class="tab-pane fade" id="work-experience" role="tabpanel">
                            <app-experience [profileData]="profileData" [otherProfile]="otherProfile"></app-experience>
                        </div>
                        <div class="tab-pane fade" id="education" role="tabpanel">
                            <app-education [profileData]="profileData" [otherProfile]="otherProfile"></app-education>
                        </div>
                        <div class="tab-pane fade" id="other" role="tabpanel">
                            <app-others [profileData]="profileData" [otherProfile]="otherProfile"></app-others>
                        </div>
                    </div>
                </div>

            </div>
        </div>